body {
    background-color: #3d405b;
    text-align: center;
    font-family: copperplate, sans-serif;
    color: #f4f1de;
}

span {
    border-radius: 30px;
    padding: 15px;
    transition: color .3s, background-color .3s;
}

#selection-area .fa {
    font-size: 200px;
}

#move-display .fa {
    font-size: 100px;
}

@media (max-width: 800px) {
    #selection-area .fa {
        font-size: 120px;
    }

    #move-display .fa {
        font-size: 80px;
    }
}

.choice:hover {
    box-shadow: 0px 0px 12px 0px#28ca7052;
    background-color: #81b29a;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #f2cc8f;
}

.rps-group {
    border: 1px solid #81b29a7a;
}

#score {
    margin-top: 30px;
    font-size: 30px;
}

#end {
    margin-top: 30px;
    font-size: 45px;
}

.scoreText {
    padding: 0;
}

.wonRound {
    color: #67A285;
}

.lostRound {
    color: #e07a5f;
}

.tiedRound {
    color:  #f4f1de;
}

#move-display {
    flex-wrap: wrap;
}